<div class="container" id="rideInput">
  <h1>Hello <%= current_user.username %></h1>

    <% found = false %>
    <% userRide = nil %>
    <% if @all_rides.length == 0 %>
      <h2>Where will you be traveling today?</h2>
        <%= simple_form_for(Ride.new) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :address, :required => true,:label => "Address (Location,City,State)" %>
              <%= f.input :travelers , :required => true, :label => "Travelers (comma seperated)"%>
            </div>

            <div class="form-actions">
              <%= f.button :submit %>
            </div>
        <% end %>
      <% end %>
    <% @all_rides.each do |ride| %>
        <% if ride.include? current_user %>
            <% found = true %>
            <% userRide = ride %>
            <% break %>
        <% else %>
          <h2>Where will you be traveling today?</h2>
            <%= simple_form_for(Ride.new ,html: { class: 'form-horizontal' }) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <%= f.input :address, :required => true ,:label => "Address (Location,City,State)"%>
                  <%= f.input :travelers , :required => true, :label => "Travelers (comma seperated)"%>
                </div>

                <div class="form-actions">
                  <%= f.button :submit %>
                </div>
            <% end %>
        <%end%>
    <%end%>

  <% party = 0 %>

  <tbody style="border: double">
    <% if found %>
      <h2>It looks like you are part of a party already. Hit show to see more details!</h2>
    <%end%>

    <% @rides.each do |ride| %>
          <% if ride.travelers.include? current_user.username %>
          <div class="list-group" style="margin-bottom: 0px;margin: auto;width: 25%;">
            <div class="list-group-item"> Address: <%= ride.address %> </div>
            <div class="list-group-item">Party members: <%= ride.travelers %> </div>
            </div>
              <div class="btn-group" role="group">
                 <%= link_to 'Show', ride, id: 'edit_graph' , class: "btn btn-success", type: 'button', tag: 'button'%>
                <%= link_to 'Edit', edit_ride_path(ride),class: "btn btn-info", type: 'button', tag: 'button',id: 'edit_graph' %>
                <%= link_to 'Destroy', ride, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", type: 'button', tag: 'button', id: 'edit_graph'%>
              </div>
               <br>
          <%end%>
            <br>
    <% end %>
    </tbody>
</div>


    <!--<% @rides.each do |ride| %>-->
      <!--<tr>-->
        <!--<td><%= ride.address %></td>-->
        <!--<td><%= ride.travelers %></td>-->
        <!--<td><%= link_to 'Show', ride %></td>-->
        <!--<td><%= link_to 'Edit', edit_ride_path(ride) %></td>-->
        <!--<td><%= link_to 'Destroy', ride, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      <!--</tr>-->
    <!--<% end %>-->
  <!--</tbody>-->
<!--</table>-->

<!--<br>-->

<!--<%= link_to 'New Ride', new_ride_path %>-->
