<div class="container" id="rideInput">
  <h1>Hello <%= current_user.username %></h1>

    <% found = false %>
    <% userRide = nil %>
    <% if @all_rides.length == 0 %>
      <h2>Where will you be traveling today?</h2>
        <%= simple_form_for(Ride.new) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :address, :required => true,:label => "Address (Location,City,State)" %>
              <%= f.input :travelers , :required => true, :label => "Travelers (comma seperated)"%>
            </div>

            <div class="form-actions">
              <%= f.button :submit %>
            </div>
        <% end %>
      <% end %>
    <% @all_rides.each do |ride| %>
        <% if ride.include? current_user %>
            <% found = true %>
            <% userRide = ride %>
            <% break %>
        <% else %>
          <h2>Where will you be traveling today?</h2>
            <%= simple_form_for(Ride.new ,html: { class: 'form-horizontal' }) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <%= f.input :address, :required => true %>
                  <%= f.input :travelers , :required => true%>
                </div>

                <div class="form-actions">
                  <%= f.button :submit %>
                </div>
            <% end %>
        <%end%>
    <%end%>

    <tbody style="border: double">
    <% @rides.each do |ride| %>
          <% if ride.travelers.include? current_user.username %>
            <h2>It looks like you are part of a party already. Hit show to see more details!</h2>
            <tr>
              <td>Address: <%= ride.address %></td>
            </tr>
            <br>
            <tr>
              <td>Party members: <%= ride.travelers %></td>
            </tr>
            <br>
            <tr>
              <td><%= link_to 'Show', ride%></td>
              <td><%= link_to 'Edit', edit_ride_path(ride) %></td>
              <td><%= link_to 'Destroy', ride, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <%end%>
    <% end %>
    </tbody>
</div>


<!--<h1>Listing rides</h1>-->

<!--<table>-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th>Address</th>-->
      <!--<th>Travelers</th>-->
      <!--<th colspan="3"></th>-->
    <!--</tr>-->
  <!--</thead>-->

  <!--<tbody>-->
    <!--<% @rides.each do |ride| %>-->
      <!--<tr>-->
        <!--<td><%= ride.address %></td>-->
        <!--<td><%= ride.travelers %></td>-->
        <!--<td><%= link_to 'Show', ride %></td>-->
        <!--<td><%= link_to 'Edit', edit_ride_path(ride) %></td>-->
        <!--<td><%= link_to 'Destroy', ride, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      <!--</tr>-->
    <!--<% end %>-->
  <!--</tbody>-->
<!--</table>-->

<!--<br>-->

<!--<%= link_to 'New Ride', new_ride_path %>-->
