<!DOCTYPE html>
<html>
<head>
  <title>Andel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css">
  <!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>-->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1FYLmtIJJvFVaOaI_znQPH-TlZIf_VXo">  </script>
  <link src="/application.css" type="text/css">

  <%= csrf_meta_tags %>
</head>
<body style="margin:0px;">
<div class="container" id="NavBar">
  <nav class="navbar navbar-inverse navbar-fixed-top" id="fixedNavBar">
    <div class="navbar-header" style="width: 100%">
          <div class="btn-group" role="group" style="width: 100%;">
            <div class="row" id="navRow">
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                <label style="color: #ffffff; font-size: 1.5em; text-align: left;"> Welcome to Andel</label>
              </div>
              <div class="col-sm-4">
                  <div id="user_nav">
                    <% if user_signed_in? %>
                        <label style="color: #ffffff; font-size: 1.5em; padding-right:1em;"> Signed in as <%= current_user.username %>. Not you? </label>
                       <%= link_to "Sign Out", destroy_user_session_path, :method => :delete , :class => "btn btn-warning", :id => "navButtonsActiveUser" %>
                  <% else %>
                        <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-success", :id => "navButtons" %> <label style="color: #ffffff; font-size: 1.5em">or</label>
                        <%= link_to "Sign In", new_user_session_path, :class => "btn btn-success", :id => "navButtons" %>
                  <% end %>
                  </div>
               </div>
             </div>
        </div>
    </div>
  </nav>
</div>

<%= yield %>

</body>
</html>
