<!DOCTYPE html>
<html>
<head>
  <title>Andel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css">
  <!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>-->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1FYLmtIJJvFVaOaI_znQPH-TlZIf_VXo">  </script>
  <!-- <link src="../assets/application.css" type="text/css">
    <link src="/assets/application.css" type="text/css">
  <link src="/application.css" type="text/css">
  <link src="application.css" type="text/css">
  <link src="../../assets/stylesheets/application.css" type="text/css">
    <link src="stylesheets/application.css" type="text/css">
        <link src="../stylesheets/application.css" type="text/css">
                <link src="/stylesheets/application.css" type="text/css"> -->
    <style media="screen" type="text/css">
       #user-nav {
            font-size: 1.5rem;
            padding-left: 2em;
        }
        #navButtons {
            font-size: 1.5rem;
            padding:5px;
            color: #ffffff;
            text-decoration:none;
            font-family: "Lato";

        }

        #NavBar{
            font-family: "Lato";
        }
        #navRow {
            #padding-bottom: 1.3em;
        }
        #fixedNavBar {
            padding-top: 1em;
            #padding-bottom: 1em;
            text-align: center;
            font-family: "Lato";

        }

        #navButtonsActiveUser {
            font-size: 1.5rem;
            padding:5px;
            color: #ffffff;
            text-decoration:none;
            font-family: "Lato";
        }

        #devise-forms {
            font-family: "Lato";
            font-size: 1.5rem;
            text-align: center;
        }

        #container1 {
            background-color: #e2dada;
        }

        .centered-form {
            margin-top: 120px;
            margin-bottom: 120px;
        }

        .centered-form .panel {
            background: rgba(255, 255, 255, 0.8);
            box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
        }

        #deviseActionButtons {
            text-decoration: none;
            padding-left: 5em;
            font-family: "Lato";
            font-size: 1.5rem;
            color:#ffffff;
        }
        #login-form {
            width: 100%;
            background-image: url( "http://imgur.com/E7E0KQt");
            background-attachment: fixed;
        }

        #rendered_links {
            text-decoration:none;
            font-family: 'Lato';
            font-size: 1.5em;

        }

        #rideInput {
            margin-top: 4em;
            text-align: center;
            margin-bottom: 4em;
            padding-bottom: 10em;
            background-image: url('http://imgur.com/XvZQS57 ');
            width:100%;
        }

        #new_ride {
            width:50%;
            margin:auto;
        }

        #show_graph {
            margin-top: 5em;
        }

        #edit_graph {
            text-decoration: none;
            font-family: "Lato";
            text-decoration-color: #ffffff;
            color: white;
        }
    </style>
  <%= csrf_meta_tags %>
</head>
<body style="margin:0px;">
<div class="container" id="NavBar">
  <nav class="navbar navbar-inverse navbar-fixed-top" id="fixedNavBar">
    <div class="navbar-header" style="width: 100%">
          <div class="btn-group" role="group" style="width: 100%;">
            <div class="row" id="navRow">
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                <label style="color: #ffffff; font-size: 1.5em; text-align: left;"> Welcome to Andel</label>
              </div>
              <div class="col-sm-4">
                  <div id="user_nav">
                    <% if user_signed_in? %>
                        <label style="color: #ffffff; font-size: 1.5em; padding-right:1em;"> Signed in as <%= current_user.username %>. Not you? </label>
                       <%= link_to "Sign Out", destroy_user_session_path, :method => :delete , :class => "btn btn-warning", :id => "navButtonsActiveUser" %>
                  <% else %>
                        <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-success", :id => "navButtons" %> <label style="color: #ffffff; font-size: 1.5em">or</label>
                        <%= link_to "Sign In", new_user_session_path, :class => "btn btn-success", :id => "navButtons" %>
                  <% end %>
                  </div>
               </div>
             </div>
        </div>
    </div>
  </nav>
</div>

<%= yield %>

</body>
</html>
